.modal-header {
    background-color: #000;
    justify-content: center;
}

h3 {
    color: #442581;
    font-weight: bold;
}

.modal-body {
    background-color: #442581;
    color: #fff;
}

label.form-label {
    color: #fff;
}

input.form-control {
    text-transform: capitalize;
}

button.btn.btn-secondary {
    background-color: #fff;
    color: #000;
}